body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pxbutton {
  background-color: #27ae60;
  height: 50px;
  width: 280px;
  color: #ffffff;
  border: 1px solid #27ae60;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 8px;
}
.pxbuttonRight {
  background-color: #27ae60;
  height: 50px;
  width: 280px;
  color: #ffffff;
  border: 1px solid #27ae60;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  float: right;
}

.hrtrait{
  
  width: 1000px;
  size: 50;
  color: green;
}